{% extends "index.html" %}

{% block maintitle %}
{% endblock %}

{% block title %}

    <!-- add title -->
    Welcome in the Bingo World!

{% endblock %}


{% block body %}
    {% block msg %}
    
        {{status}}

    {% endblock %}
    <div class="container p-5">
        <form method="post" action="{{url_for('check_name')}}">
        <div class="row">
            <div class="mb-4 col">
                <label for="name" class="col-4">Name</label>
                <input type="text" class="col" name="username" id="name" placeholder="Enter your name" value="{{name}}" required>
            </div>
            <div class="mb-4 col">
            </div>
            
        </div>
        </form>
    </div>

    
{% endblock %}